CREATE TABLE IF NOT EXISTS public.gastos (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), descricao TEXT NOT NULL, valor NUMERIC(10,2) NOT NULL, data_gasto TIMESTAMPTZ DEFAULT NOW(), categoria TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW()); ALTER TABLE public.gastos ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Acesso
Total
Gastos\ ON public.gastos FOR ALL USING (EXISTS(SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'dono')));
